.fade-in {
  animation: fadeInAnimation 1s ease-in-out forwards;
}

.fade-out {
  animation: fadeOutAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.image-container {
  position: relative;
  width: 100vw; /* Set width to 100 viewport width */
  height: 100vh; /* Set height to 100 viewport height */
  overflow: hidden; /* Hide overflowing parts of the image */
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Stretch image to fill container width */
  height: 100%; /* Stretch image to fill container height */
  object-fit: cover; /* Crop image to cover the container */
}